.jumbotron{
    text-align: center;     
}
#ress {
    color: blue;
    font-weight: bold;
}
#pig{
    color: blue;
    background: rgba(200, 54, 54, 0.0);
}
#hrule {
    color: blue;
    background: rgba(200, 54, 54, 0.0);
}
#sets{
    background: rgba(200, 54, 54, 0.0);
    /* box-shadow: 2px 2px 2px 2px #000000; */
    text-align: center;
    color: teal;
    font-weight: bold;
    border-color:rgba(200, 54, 54, 0.0);

}
#submit {
    color: white;
    background-color: teal;
    border-radius: 15px;
    border: 0px;
    font-weight: bold;
}
.gamerules{
    color: coral;
    background: teal;
}
body{
    background-image: url("../images/dice1.png");
    background-repeat: repeat;
    background-size: 60vh;
    padding: 25px;
    font-weight: bold;
}
#rowplayer {
    background: rgba(200, 54, 54, 0.0);
    color: teal;
    text-align: center;
    border-color:rgba(200, 54, 54, 0.0);
}
#pl {
    background: rgba(200, 54, 54, 0.0);
    font-size: 3vh;
}
#p1, #p2{
    color: blue; 
    font-weight: bold;  
}
#Grules{
    color: blue;
}

